{% extends 'weather_app/base.html' %}
{% load static %}
{% block head %}
    <title>Подбор одежды</title>
{% endblock %}

{% block body %}
    <section class="section city-section">
        <form autocomplete="off">
            <div class="container">
{#                <div class="title logo">Логотип</div>#}
                <div class="centered">
                    <div class="title is-small">Укажите ваш город</div>
                    <input class="input" type="text" id="city" name="city" placeholder="Кокшетау" required>
                    <div class="control">
                        <button class="button btn-grad" type="submit">Далее</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <div class="overlay"></div>
    <div class="modal callback" data-modal="callback">
        <div class="modal__close"><img class="img-svg" src="{% static 'weather_app/images/icons/close.svg' %}" alt="">
        </div>
    </div>
{% endblock %}
